<form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
  <ion-card>

    <ion-card-header>
      <ion-card-title>Model Reactive Form for (3n + 1)</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="Number">Number: </ion-label>
        <ion-input id="main-number" type="number" formControlName="mainNumber"></ion-input>
      </ion-item>

      <ion-card formArrayName="modelArr">
        <ion-card-header>Numbers that you also want check.</ion-card-header>
        <ion-card-content>
          <ion-button color="tertiary" (click)="addIntoArr()">
            <ion-icon slot="start" name="add"></ion-icon>Add number</ion-button>
          <ion-item *ngFor="let arrItem of getControls(); let i = index">
            <ion-input type="number" formControlName={{i}} placeholder="Number"></ion-input>
            <ion-button color="tertiary" (click)="removeFromArr(i)">
              <ion-icon slot="start" name="trash"></ion-icon> Delete number
            </ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <ion-button type="submit" color="my-color" expand="block" fill="outline" [disabled]="!modelForm.valid">Submit</ion-button>
</form>
